<header>
  <div class="header_container">
    <div class="left_header">
      <%= image_tag "oFruit.png" %>
    </div>
    <div class="right_header">
      <a href="/">Home</a>
    </div>
  </div>
</header>

<div class="content">
  <form action="/fruits/<%= @fruit[:id] %>" method="post">
    <input type="hidden" name="_method" value="put"/>
    <input type="text" name="name" value="<%= @fruit[:name] %>">
    <input type="text" name="description" value="<%= @fruit[:description] %>">
    <input type="submit" value="Update Details">
  </form>
</div>