<form action="/fruits" method="post">
  <input type="text" name="name" placeholder="Enter Fruit Name Here">
  <input type="text" name="description" placeholder="Enter Fruit Description Here">
  <input type="submit" value="Add Fruit">
</form>