<header>
  <div class="header_container">
    <div class="left_header">
      <img src="/assets/oFruit.png">
    </div>
    <div class="right_header">
      <a href="/">Home</a>
    </div>
  </div>
</header>

<div class="content">
  <form action="/fruits" method="post">
    <input type="text" name="name" placeholder="Enter Fruit Name Here">
    <input type="text" name="description" placeholder="Enter Fruit Description Here">
    <input type="submit" value="Add Fruit">
  </form>
</div>