<h1><%= @fruit[:name] %></h1>
<div class="content">
  <h2> Description: <%= @fruit[:description] %></h2>

  <form action="/fruits/<%= @fruit[:id] %>/edit" method="get">
    <input type="submit" value="Edit Details">
  </form>

  <form action="/fruits/<%= @fruit[:id] %>" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Fruit">
  </form>
</div>