<header>
  <div class="header_container">
    <br>
  </div>
  <div class="header_welcome">
    <img src="/assets/oFruit.png">
  </div>
</header>

<h1>Welcome!</h1>

<div class="content">
  <a href="/fruits">View Fruits</a>
</div>